.page-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
}
.page-wrapper:last-child {
  padding-bottom: 0px;
}
.page-wrapper-proj {
  display: flex;
  justify-content: center;
  width: 100%;
}
.content-wrapper {
  max-width: 1200px;
  min-height: calc(100vh - 68px);
  padding: 0 15px;
}
.content-wrapper-proj {
  max-width: 1200px;
}

@media only screen and (min-width: 900px) {
  .page-wrapper {
    padding: 50px 0;
  }
  .content-wrapper {
    padding: 0 30px;
  }
}
