@import './abstracts/_variables';
// @import 'abstracts/functions';
// @import 'abstracts/mixins';

// @import 'vendors/bootstrap';

// @import 'base/reset';
@import './base/_typography';

// @import 'layout/navigation';
// @import 'layout/grid';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'layout/sidebar';
@import './layout/_sections';
@import './layout/_flex';
// @import 'layout/forms';
// @import 'layout/_flex'
@import 'layout/_pages';

// @import 'components/buttons';
// @import 'components/carousel';
// @import 'components/slider';

// @import 'pages/home';
// @import 'pages/about';
// @import 'pages/contact';

// @import 'themes/_theme';
// @import 'themes/admin';